{% extends "myapp/index.html" %}

{% block content %}
<section>
   <div class="container m-5">
      <h2 class="mb-5">{{title}} User</h2>
      {% if msg %}
      <div class="alert alert-success">
         {{msg}}
      </div>
      {% endif %}
      {% if l_msg %}
      <div class="alert alert-danger">
         {{l_msg}}
      </div>
      {% endif %}
      
      <form method="post" {% if e_user %} action="{% url "editUser" k=e_user.id %}" {% else %} action="{% url "userForm" %}" {% endif %}>
         {% csrf_token %}
         <!-- ***** Name ****** -->
         <div class="form-group">
            <label for="name">Name : </label>
            <input type="text" class="form-control" placeholder="Enter Name" id="name" name="name" value={{e_user.name}}>
         </div>

         <!-- ****** Subjects ****** -->
         <label for="subject" class="mb-2">Subject : </label>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" name="python" id="python" value="python" {% if "python" in e_user.subject %}checked{% endif %}>
            <label for="python">Python</label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" name="django" id="django" value="django" {% if "django" in e_user.subject %}checked{% endif %}>
            <label for="django">Django</label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" name="js" id="js" value="js" {% if "js" in e_user.subject %}checked{% endif %}>
            <label for="js">JS</label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" name="react" id="react" value="react" {% if "react" in e_user.subject %}checked{% endif %}>
            <label for="react">React</label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" name="flutter" id="flutter" value="flutter" {% if "flutter" in e_user.subject %}checked{% endif %}>
            <label for="flutter">Flutter</label>
         </div>

         <!-- ****** Gender ******* -->
         <div class="form-group mt-2">
            <label for="gender">Gender : </label>
            <label for="male"><input class="m-2" type="radio" name="gender" id="male" value="male" {% if "male" in e_user.gender %}checked{% endif %} >Male</label>
            <label for="female"><input class="m-2" type="radio" name="gender" id="female" value="female" {% if "female" in e_user.gender %}checked{% endif %} >Female</label>
         </div>
         <input type="submit" class="btn btn-primary text-white" value="Submit" />
         <a class="btn btn-success text-white" href="{% url "home" %}">Home</a>
      </form>
   </div>
</section>
{% endblock content %}