{% extends "myapp/index.html" %}

{% block content %}
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>Edit Member <small class="text-muted">Welcome to Digital Society</small></h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i>
                            Digital Society</a></li>
                    <li class="breadcrumb-item">Members</li>
                    <li class="breadcrumb-item active">Edit Members</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Edit</strong> Member</h2>
                    </div>
                    <form action="{% url "editMember" pk=member.id %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" placeholder="Enter Email" name="email" value="{{member.userid.email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname">Firstname</label>
                                        <input type="text" class="form-control" placeholder="First Name"
                                            name="firstname" value="{{member.firstname}}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname">Lastname</label>
                                        <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{member.lastname}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="contact">Contact</label>
                                        <input type="text" class="form-control" placeholder="Contact" name="contact" value="{{member.contact}}">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="blockno">Block No.</label>
                                        <input type="text" class="form-control" placeholder="Block No." name="blockno" value="{{member.blockno}}">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="houseno">House No.</label>
                                        <input type="text" class="form-control" placeholder="House No." name="houseno" value="{{member.houseno}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="occupation">Occupation</label>
                                        <input type="text" class="form-control" placeholder="Occupation" name="occupation" value="{{member.occupation}}">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="tenant">Tenant</label>
                                    <select class="form-control" style="font-size: 0.7rem;" name="tenant" value="{{member.tenant}}">
                                        <option value="" selected disabled>- Tenant -</option>
                                        <option value="Owner">Owner</option>
                                        <option value="Rent">Rent</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="familyno">No. of Family Member</label>
                                        <input type="text" class="form-control" placeholder="No. of Family Member" name="familyno" value="{{member.familyno}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="vehicleno">Vechicle No.</label>
                                        <input type="text" class="form-control" placeholder="Enter Vechicle No. ( use space for multiple no. )" name="vehicleno" value="{{member.vehicleno}}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-b-10">
                                        <label for="pic">Profile Picture</label>
                                        <input type="file" class="form-control" name="pic">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <input type="submit" class="btn btn-primary btn-round" value="Submit">
                                    <a class="btn btn-default btn-round btn-simple" href="{% url "allMember" %}">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}