<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mail</title>
</head>

<body>
   <div style="display: flex; justify-content: center;">
      <section style="width: 50%; text-align: center;">
         <h1>Welcome to Digital Society</h1>
         <hr>
         <p>Thank you <b>{{data.firstname}}</b> for using Digital Society</p>
         <p>Email : <b>{{data.email}}</b></p>
         <p>One Time Password : <b>{{data.password}}</b></p>
         <hr>
         <small>For any kind of query related to the your profile contact your chairman and any query related the app
            contact our customer care</small>
      </section>
   </div>
</body>

</html>