{% extends "myapp/index.html" %}

{% load static %}

{% block section %}

<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>Profile <small class="text-muted">Welcome to Digital Society</small></h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10"
                    type="button">
                    <i class="zmdi zmdi-edit"></i>
                </button>

                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i>
                            Digital Society</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
        {% endif %}
        <div class="row clearfix profile-page">
            <div class="col-lg-4 col-md-12">
                <div class="card profile-header">
                    <div class="body text-center">
                        <div class="profile-image"> <img src="{{chairman.pic.url}}" alt=""> </div>
                        <div>
                            <h4 class="m-b-0">{{chairman.firstname}}</h4>
                            <span class="job_post">{{user.role}}</span>
                            <p>{{chairman.blockno}} | {{chairman.houseno}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">Account</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane body active" id="about">
                            <ul class="list-unstyled">
                                <li>
                                    <p><strong>First Name :</strong> {{chairman.firstname}}</p>
                                </li>
                                <li>
                                    <p><strong>Last Name :</strong> {{chairman.lastname}}</p>
                                </li>
                                <li>
                                    <p><strong>Contact :</strong> {{chairman.contact}}</p>
                                </li>
                                <li>
                                    <p><strong>HOuse No :</strong> {{chairman.houseno}} | {{chairman.blockno}}</p>
                                </li>
                                <li>
                                    <p><strong>Role :</strong> {{user.role}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane body" id="Account">
                            <form method="post" action="{% url 'new_pass' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" value={{user.email}}
                                        disabled>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Current Password"
                                        name="c_password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="New Password"
                                        name="n_password">
                                </div>
                                <input type="submit" class="btn btn-info btn-round" value="Save Changes" />
                            </form>
                            <hr>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Country">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-b-10">
                                        <textarea rows="4" class="form-control no-resize"
                                            placeholder="Address Line 1"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <input id="procheck2" type="checkbox">
                                        <label for="procheck2">New task notifications</label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="procheck3" type="checkbox">
                                        <label for="procheck3">New friend request notifications</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-round">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock section %}